In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\tsyto\appdata\local\programs\python\python314\lib\site-packages (2.3.4)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\tsyto\AppData\Local\Programs\Python\Python314\python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

age
sex
chest pain type (4 values)
resting blood pressure
serum cholestoral in mg/dl
fasting blood sugar > 120 mg/dl
resting electrocardiographic results (values 0,1,2)
maximum heart rate achieved
exercise induced angina
oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [5]:
df = pd.read_csv(r'C:\Users\tsyto\.vscode\LevelUp\LevelUp-DS\homeworks\heart_pandas.csv')
df

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non-anginal pain,145,233,greater than 120mg/ml,normal,150,no,2.3,upsloping,0,normal,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,ST-T wave abnormality,187,no,3.5,upsloping,0,fixed defect,1
2,41,female,typical angina,130,204,lower than 120mg/ml,normal,172,no,1.4,flat,0,fixed defect,1
3,56,male,typical angina,120,236,lower than 120mg/ml,ST-T wave abnormality,178,no,0.8,flat,0,fixed defect,1
4,57,female,typical angina,120,354,lower than 120mg/ml,ST-T wave abnormality,163,yes,0.6,flat,0,fixed defect,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,typical angina,140,241,lower than 120mg/ml,ST-T wave abnormality,123,yes,0.2,upsloping,0,reversable defect,0
299,45,male,non-anginal pain,110,264,lower than 120mg/ml,ST-T wave abnormality,132,no,1.2,upsloping,0,reversable defect,0
300,68,male,typical angina,144,193,greater than 120mg/ml,ST-T wave abnormality,141,no,3.4,upsloping,2,reversable defect,0
301,57,male,typical angina,130,131,lower than 120mg/ml,ST-T wave abnormality,115,yes,1.2,upsloping,1,reversable defect,0
302,57,female,typical angina,130,236,lower than 120mg/ml,normal,174,no,0.0,upsloping,1,fixed defect,0

In [42]:
df.shape

(303, 14)

1.Сколько мужчин в датасете? Сколько женщен? (sex)

In [28]:
sex_count = df['sex'].value_counts()
sex_count

sex
male      207
female     96
Name: count, dtype: int64

2.Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента)

In [40]:
f'{df['sex'].value_counts(normalize=True).iloc[0].round(2)*100}% мужчин в данном Датасете'

'68.0% мужчин в данном Датасете'

3.Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца?

In [53]:
df[df.target == 1]['sex'].value_counts()

sex
male      93
female    72
Name: count, dtype: int64

4. Какую долю, от общего числа пациентов, занимают мужчины не имеющие болезнь сердца?

In [59]:
f'{round(df.query('sex == "male" and target == 0').shape[0]/df.shape[0],2)*100}% - доля мужчин не имеющих болезнь сердца'

'38.0% - доля мужчин не имеющих болезнь сердца'

5.Сколько лет самому молодому пациенту, страдающему болезнью сердца?

In [64]:
f'{df[df.target == 1].sort_values(by='age').iloc[0].age} лет самому молодому больному'

'29 лет самому молодому больному'

6.Сколько лет самому возастному пациенту, у которого нет проблем с сердцем?

In [66]:
f'{df[df.target == 0].sort_values(by='age', ascending=False).iloc[0].age} лет самому возрастному здоровому'

'77 лет самому возрастному здоровому'

7. Сколько лет самой молодой женщине, которая страдает болезнью сердца?

In [72]:
f'{df[df.target == 1].query('sex == "female"').sort_values(by='age').iloc[0].age} лет самой молодой больной жОнщине'

'34 лет самой молодой больной жОнщине'

8.Какой средний возраст женщин?

In [85]:
f'{df[df['sex'] == 'female']['age'].mean().round(0)} - средний возраст женщин'

'56.0 - средний возраст женщин'

9.Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?

In [100]:
print(f'{df[df.target == 1]['age'].mean()} - среднее значение')
print(f'{df[df.target == 1]['age'].median()} - медианное значение')
print(f'{df[df.target == 1]['age'].mode().iloc[0]} - значение моды')
print(f'{df[df.target == 1]['age'].std()} - среднеквадратичное отклонение')

52.4969696969697 - среднее значение
52.0 - медианное значение
54 - значение моды
9.550650751946774 - среднеквадратичное отклонение

10.Правда ли, что люди не болеющие болезнью сердца имеют уровня холестерина меньше среднего? (chol)

In [107]:
df.cholesterol.mean()<df[df.target == 0].cholesterol.mean()

np.True_

11.Выведите статистику rest_ecg для все числовых признаков, его максимально и среднее значение (используйте groupby(), решите в одну строчку)

In [121]:
df.rest_ecg.describe()

count                       303
unique                        3
top       ST-T wave abnormality
freq                        152
Name: rest_ecg, dtype: object

In [120]:
df.rest_ecg.info()

<class 'pandas.core.series.Series'>
RangeIndex: 303 entries, 0 to 302
Series name: rest_ecg
Non-Null Count  Dtype
--------------  -----
303 non-null    object
dtypes: object(1)
memory usage: 2.5+ KB

In [119]:
df.groupby('rest_ecg',as_index=False)\
  .agg({'sex': 'count'})\
  .rename(columns={'sex': 'count_of_group'})

                       rest_ecg  count_of_group
0         ST-T wave abnormality             152
1  left ventricular hypertrophy               4
2                        normal             147

12.Посчитайте у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин страдающих болезнью сердца или среди женщин не страдающих болезнью сердца (st_depression)

In [131]:
f'{df[df.target == 1].query('sex == "male"')['st_depression'].mean()} - средний уровень депрессии у больных мужчин'

'0.6053763440860215 - средний уровень депрессии у больных мужчин'

In [132]:
f'{df[df.target == 0].query('sex == "female"')['st_depression'].mean()} - средний уровень депрессии у здоровых женщин'

'1.8416666666666668 - средний уровень депрессии у здоровых женщин'

13.Посчтитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia.

In [156]:
attributes = ['chest_pain_type', 'rest_ecg', 'thalassemia']
for att in attributes:
    for sign in df[att].unique():
        print(f'{df[df[att] == sign]['cholesterol'].max()} - максимальный уровень холестрина для признака:подгруппы {att}:{sign}')
        print(f'{df[df[att] == sign]['cholesterol'].min()} - минимальный уровень холестрина для признака:подгруппы {att}:{sign}')
        print('---------------------')

298 - максимальный уровень холестрина для признака:подгруппы chest_pain_type:non-anginal pain
182 - минимальный уровень холестрина для признака:подгруппы chest_pain_type:non-anginal pain
---------------------
564 - максимальный уровень холестрина для признака:подгруппы chest_pain_type:atypical angina
126 - минимальный уровень холестрина для признака:подгруппы chest_pain_type:atypical angina
---------------------
409 - максимальный уровень холестрина для признака:подгруппы chest_pain_type:typical angina
131 - минимальный уровень холестрина для признака:подгруппы chest_pain_type:typical angina
---------------------
564 - максимальный уровень холестрина для признака:подгруппы rest_ecg:normal
149 - минимальный уровень холестрина для признака:подгруппы rest_ecg:normal
---------------------
354 - максимальный уровень холестрина для признака:подгруппы rest_ecg:ST-T wave abnormality
126 - минимальный уровень холестрина для признака:подгруппы rest_ecg:ST-T wave abnormality
---------------------
327 - максимальный уровень холестрина для признака:подгруппы rest_ecg:left ventricular hypertrophy
197 - минимальный уровень холестрина для признака:подгруппы rest_ecg:left ventricular hypertrophy
---------------------
318 - максимальный уровень холестрина для признака:подгруппы thalassemia:normal
169 - минимальный уровень холестрина для признака:подгруппы thalassemia:normal
---------------------
417 - максимальный уровень холестрина для признака:подгруппы thalassemia:fixed defect
141 - минимальный уровень холестрина для признака:подгруппы thalassemia:fixed defect
---------------------
564 - максимальный уровень холестрина для признака:подгруппы thalassemia:reversable defect
126 - минимальный уровень холестрина для признака:подгруппы thalassemia:reversable defect
---------------------

14.Сколько значений может принимать каждый из категориальных признаков?

In [164]:
cols = df.select_dtypes(include=['category', 'object']).columns
for col in cols:
    print(f'Категориальный признак {col} может принимать {df[col].nunique()} признака(ов)')

Категориальный признак sex может принимать 2 признака(ов)
Категориальный признак chest_pain_type может принимать 3 признака(ов)
Категориальный признак fasting_blood_sugar может принимать 2 признака(ов)
Категориальный признак rest_ecg может принимать 3 признака(ов)
Категориальный признак exercise_induced_angina может принимать 2 признака(ов)
Категориальный признак st_slope может принимать 2 признака(ов)
Категориальный признак thalassemia может принимать 3 признака(ов)

15.У какого категориального признака наблюдается самый сильный дизбаланс классов?

In [171]:
for col in cols:
    print(f'{df[col].value_counts(normalize=True).min()} - минимальная доля класса признака {col}')

0.31683168316831684 - минимальная доля класса признака sex
0.07590759075907591 - минимальная доля класса признака chest_pain_type
0.1485148514851485 - минимальная доля класса признака fasting_blood_sugar
0.013201320132013201 - минимальная доля класса признака rest_ecg
0.32673267326732675 - минимальная доля класса признака exercise_induced_angina
0.46864686468646866 - минимальная доля класса признака st_slope
0.066006600660066 - минимальная доля класса признака thalassemia

In [189]:
lst_of_min_represent = {col: df[col].value_counts(normalize=True).min() for col in cols}
print(f'{min(lst_of_min_represent, key=lst_of_min_represent.get)} - признак с максимальным дисбалансом')

rest_ecg - признак с максимальным дисбалансом

[1.1 2.2 3.3]